.App {
  text-align: center;
}

.header {
  background-color: #babeff;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
